@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.woff2?22677667') format('woff2'),
       url('../font/fontello.ttf?22677667') format('truetype');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-rss:before { content: '\f143'; }
.icon-gh:before { content: '\f300'; }
.icon-in:before { content: '\f30c'; }