<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" integrity="sha384-eYUmD1FFkORGrJdmrD37Z5LUEElTzF32+UI3jkzt7C1vpmUGo5KOVvb3Z5LeZHky" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura.css" integrity="sha384-ZqyuhGu1WNTJEuOEDMBfZjzLTyJBes4u9YMARWUL3vWz3O9szk/7HsXOBofWtWJg" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	
	<link rel="shortcut icon" type="image/png" href="{{ "/favicon.ico" | prepend: site.baseurl }}"/>
	
	{% seo title=false %}
</head>