body, main, header, nav, article, footer, ul, ol, li, h1,h2,h3,h4,h5,h6{
	//border: 1px solid black;
}

html, body, main
{
	min-height: 100vh;
	min-width: 100%;
}

body
{
	font-family: $font;
	scroll-behavior: smooth;
	text-align: center;
	padding: 0;
}

main
{
	display: flex;
	flex-direction: column;
	padding: 0;
}

img
{
	max-width: 100%;
}

nav > ul, .taglist{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.content-wrapper
{
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

article
{
	padding: 1em;
}

footer
{
	margin: auto auto 0 auto;
	flex-shrink: 0;
	width: 100%;
}