// border shortcut for changing setup of elements
/*
body, main, header, nav, article, footer, ul, ol, .pagination{
	border: 1px solid black;
}
*/

html, body, main
{
	min-height: 100vh;
	min-width: 100%;
}

body
{
	text-align: center;
	padding: 0;
}

main
{
	display: flex;
	flex-direction: column;
	padding: 0;
}

img
{
	max-width: 100%;
}

nav > ul, .taglist{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.content-wrapper
{
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

article
{
	padding: 1em;
}

.highlight > pre
{
	overflow-x: auto;
	text-align: left;
	padding-left: 1em;
	border-left: 1px solid $code-border;
}

code
{
	margin-left: auto;
	margin-right: auto;
}

table{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

th, td{
	padding: 0.5em;
}

tr:nth-child(even){
	background-color: $table-shadow;
}

th{
	background-color: $table-head;
	border-bottom: $table-border;
}

footer
{
	margin: auto auto 0 auto;
	flex-shrink: 0;
	width: 100%;
}