main{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 80%;
  text-justify: inter-word;
  margin: 1em auto;
}

article{
  display: flex;
  flex-direction: column;
  padding: 1em;
}

article > h2{
  margin-top: 0;
  border-bottom: 1px solid $content-header-border;
}

article a{
  display: block;
  padding: 0.5em;
  color: $content-a;
  text-decoration: none;
}

article a:visited{
  color: $content-a;
}

article a:hover{
  color: $content-a-hover;
}

article a:active{
  color: $content-a-active;
}

article ul, article ol{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  text-align: left;
}

article ol{
  justify-content: left;
}

article ol > li{
  padding: 0 0.5em;
  margin: 0.25em;
  border-radius: 10%;

  background: $content-tag-bg;
  color: $content-tag;
}

article ul > li{
  width: 40%;
  margin: 0.5em;

  background-color: $content-item-bg;

  border: 1px solid $content-header-border;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 3%;
}

@keyframes lihover{
  from {tranform: translateY(0);}
  to {transform: translateY(-1em);}
}

article ul > li:hover{
  animation-name: lihover;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

article ul >li h3{
  border-bottom: 1px solid $content-header-border;
}

article ul > li > a > *{
  margin: 0.25em;
}
