.content-wrapper
{
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 80%;
  text-justify: inter-word;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper > article
{
  display: flex;
  flex-direction: column;
}

.content-wrapper > article > h2
{
  border-bottom: 1px solid $content-header-border;
}

article
{
  padding: 1em;
}

article a
{
 color: $content-a;
 text-decoration: underline;
}

article a:visited
{
 color: $content-a;
}

article a:hover
{
 color: $content-a-hover;
}

article a:active
{
 color: $content-a-active;
}

.to-top
{
 margin: -3.1em 0 0 2em;
 padding-right: 0.25em;
 align-self: flex-start;
}
