nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 0 2em;
  border-bottom: 1px solid $nav-border;

  width: calc(100vw - 4em);
  height: 3em;

  background-color: $nav-bg;
}

nav a:link{
  color: $nav-a;
}

nav a:visited{
  color: $nav-a;
}

nav a:hover{
  color: $nav-a-hover;
}

nav a:active{
  color: $nav-a-active;
}