nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $nav-border;

  width: 100%;
  height: 3em;

  background-color: $nav-bg;
}

nav a:link{
  color: $nav-a;
  margin: 0 5vw;
  text-decoration: none;
}

nav a:visited{
  color: $nav-a;
}

nav a:hover{
  color: $nav-a-hover;
}

nav a:active{
  color: $nav-a-active;
}