$nav-header-font: 'Bookman', 'Helvetica', 'Arial', sans-serif;
$font: 'Helvetica', 'Arial', sans-serif;

$header-bg: linear-gradient(90deg, rgba(25,98,97,1) 0%, rgba(26,116,87,1) 50%, rgba(27,125,84,1) 100%);
$header-text: #fff;
$header-a: #fff;
$header-a-hover: #def3e7;
$header-a-active: #b5f1cf;

$content-bg: #f6f6f6;
$content-text: #020202;
$content-a: #0f0f0f;
$content-a-hover: #303030;
$content-a-active: #5c5c5c;
$content-header-border: lightgrey;
$content-item-bg: $content-bg;

$footer-bg: #242323;
$footer-text: #fff;
$footer-a: #fff;
$footer-a-hover: #def3e7;
$footer-a-active: #b5f1c1;
