$nav-header-font: 'Bookman', 'Helvetica', 'Arial', sans-serif;
$font: 'Helvetica', 'Arial', sans-serif;

$header-bg: #030303;
$header-text: #fff;
$header-a: #fff;
$header-a-hover: #e6e6e6;
$header-a-active: #e6e6e6;

$content-bg: #f6f6f6;
$content-text: #020202;
$content-a: #0f0f0f;
$content-a-hover: #303030;
$content-a-active: #5c5c5c;
$content-header-border: lightgrey;

$footer-bg: $header-bg;
$footer-text: $header-text;
$footer-a: $header-a;
$footer-a-hover: $header-a-hover;
$footer-a-active: $header-a-active;
