$font: 'Arial';

$header-bg: #000;
$header-text: #fff;
$header-a: #fff;
$header-a-hover: #fff;
$header-a-active: #fff;

$footer-bg: $header-bg;
$footer-text: $header-text;
$footer-a: $header-a;
$footer-a-hover: $header-a-hover;
$footer-a-active: $header-a-active;